<table class="center">
  <tr id="cartas">
  </tr>
  <tr id="cajas">
  </tr>
</table>
<script>
  const barajaPath = 'https://mirumherbisfloresdebach.com/wp-content/uploads/2022/05/baraja.json';
  const reversoPath = 'https://mirumherbisfloresdebach.com/wp-content/uploads/2022/05/images/back.webp';
  const nCartas = 3;

  function fadein(n) {
    var texto = document.getElementById("texto" + n);
    var carta = document.getElementById("carta" + n);
    texto.style.opacity = 1;
    carta.style.transform = "rotateY(180deg)";
  }

  function loadJSON(callback) {
    var xobj = new XMLHttpRequest();
    xobj.overrideMimeType("application/json");
    xobj.open('GET', barajaPath, true); // Replace 'my_data' with the path to your file
    xobj.getResponseHeader("Access-Control-Allow-Origin");
    xobj.onreadystatechange = function () {
      if (xobj.readyState == 4 && xobj.status == "200") {
        // Required use of an anonymous callback as .open will NOT return a value but simply returns undefined in asynchronous mode
        callback(xobj.responseText);
      }
    };
    xobj.send(null);
  }
  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }

  function shuffle(array) {
    var m = array.length, t, i;
    // While there remain elements to shuffle…
    while (m) {
      // Pick a remaining element…
      i = Math.floor(Math.random() * m--);

      // And swap it with the current element.
      t = array[m];
      array[m] = array[i];
      array[i] = t;
    }

    return array;
  }

  function initTarot() {
    loadJSON(function (response) {
      // Parse JSON string into object
      var baraja = JSON.parse(response);
      var count = Object.keys(baraja.cartas).length;

      if (nCartas > count) {
        nCartas = count;
      }
      var tirada = Array.from(Array(count).keys());
      tirada = shuffle(tirada);
      var filaCartas = document.getElementById("cartas");
      var filaCajas = document.getElementById("cajas");

      for (var n = 0; n < nCartas; n++) {
        filaCartas.innerHTML += "<td>"
          + "<div onclick=\"fadein('" + (n + 1) + "')\" class=\"flip-card\">"
          + "  <div id=\"carta" + (n + 1) + "\"class=\"flip-card-inner\">"
          + "    <div  class=\"flip-card-front\">"
          + "      <img src=" + reversoPath + "  decoding=\"async\" alt=\"Avatar\" style=\"width:7cm;height:12cm;\">"
          + "</div>"
          + "<div onclick=\"fadein(" + (n + 1) + ")\" class=\"flip-card-back\">"
          + " <img  id =\"front" + (n + 1) + "\" src=" + reversoPath + " decoding=\"async\"  alt=\"Front\" style=\"width:7cm;height:12cm;\">"
          + "    </div>"
          + "  </div>"
          + "</div>"
          + "</td>";

        filaCajas.innerHTML += " <td>"
          + " <div   class=\"caja\" id=\"texto" + (n + 1) + "\">"
          + "  <h1 id=\"nombre" + (n + 1) + "\">John Doe</h1>"
          + "  <p  id=\"descripcion" + (n + 1) + "\" >We love that guy</p>"
          + "</div>"
          + "</td>";
      }
      for (var n = 0; n < nCartas; n++) {
        var valor = tirada[n]
        var m = n + 1
        var carta = document.getElementById("front" + m);
        carta.src = baraja.cartas[valor].imagen
        document.getElementById("nombre" + m).innerHTML = baraja.cartas[valor].nombre;
        document.getElementById("descripcion" + m).innerHTML = baraja.cartas[valor].descripcion;
      }
    });
  }
  initTarot();
</script>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .flip-card {
    background-color: transparent;
    margin: auto;
    width: 7cm;
    height: 12cm;
    perspective: 1000px;
  }

  td {
    border: none;
  }

  table {
    border: none;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: black;
    background-color: transparent;
    border: none;

  }

  .flip-card-back {
    background-color: #43a32b;
    color: white;
    transform: rotateY(180deg);
  }

  .caja {
    background-color: #2980b9;
    color: white;
    width: 7cm;
    height: 7cm;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    border: 3px solid rgb(120, 126, 125);
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }
</style>